@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	padding: 15px;
}

#logo {
	padding: 8px;
	border-right: 5px solid #448AFF;
	vertical-align: center;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

p, li, legend {
	font-family: 'Roboto', sans-serif;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

figure {
	display: inline-block;
	padding-left: 5px;
}

#code-field, #pass-field {
	width: 75%;
}

.md-card {
	width: 50%;
	padding: 15px;
}